<style>
    .lists {
        display: flex;
    }
</style>

<a href="{% url 'create article' %}">Create</a>

<form action="{% url 'list articles cbv' %}?page={{ page_obj.number }}">
    <input name="search" value="{{ search }}">
    <button>Search by title</button>
</form>

<div class="lists">
    <div>
        <h2>Object_list items</h2>
        <ul>
            {% for article in object_list %}
                {#        Work with this name too. Name of `Model` with underscore. #}
                {#    {% for article in article_list %}    #}
                <li>
                    <a href="{% url 'article detail' article.pk %}">{{ article.pk }} - {{ article.title }}</a>
                    <a href="{% url 'delete article' article.pk %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Articles items</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'article detail' article.pk %}">{{ article.pk }} - {{ article.title }}</a>
                    <a href="{% url 'delete article' article.pk %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
{% endif %}

{{ page_obj.number }} / {{ paginator.num_pages }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
{% endif %}
